{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-caret-left-fill"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="bi bi-caret-left-fill"></i></span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }}</span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-caret-right-fill"></i></a></li>
        {% else %}
            <li class="disabled"><i class="bi bi-caret-right-fill"></i></span></li>
        {% endif %}
    </ul>
{% endif %}