<thead style="color: goldenrod;">
    <tr>
        <th>ADDR</th>
        <th>STATUS</th>
        <th>HORÁRIO</th>
        <th>BITS</th>
        <th>TEMPO ON (s)</th>                
    </tr>
</thead>
<tbody>
    {% for rec in records %}
    <tr>
        <td><a href="{% url 'single-addr' rec.addr %}">{{ rec.addr }}</a></td>
        <td>{{ rec.status }}</td>
        <td>{{ rec.horario }}</td>
        <td>{{ rec.bits }}</td>
        <td>{{ rec.timestamp }}</td>
    </tr>
    {% endfor %}
</tbody>
