.table-responsive {
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
}

.table {
    width:100%;
    margin-bottom:1rem;
    color:#212529;
    background-color:transparent
}

.table td,
.table th {
    padding:.75rem;
    vertical-align:top;
    border-top:1px solid #dee2e6;
    text-align: center;
}

.table thead th {
    vertical-align:bottom;
    border:2px solid #000000
}
.table tbody+tbody {
    border-top:2px solid #dee2e6
}

.pagination {
    display: inline-block;
    font-size: 20px;
}

.pagination li {display: inline-block;}

.pagination li {
    color: black;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination li.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
}

.pagination li.disabled {
    color: rgb(126, 126, 126);
    border: 1px solid #ddd;
}

.pagination li a:hover:not(.active) { 
    background-color: rgb(233, 233, 233);
}